

<form method="post">
    <h2>ENTER CORRECT DETAILS</h2><br>
    <label for="admin no">Admission number</label>
    <input type="text" name="admission" placeholder="enter admission number"class="box"><br>
    <label for="course no">Course number</label>
    <input type="text" name="course" placeholder="enter course number"class="box"><br>
    <label for="unit no">Unit number</label>
    <input type="text" name="unit" placeholder="enter unit number"class="box"><br>
    <button type="submit">Submit</button>
</form>
<style>
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    form{
        text-align: center;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        aspect-ratio: 1/1;
        max-width: 350px;
        background-color: rgba(230, 252, 245, 0.87);
        border-radius: 20px;
    }
    .box{
        width: 100%;
        max-width: 300px;
        aspect-ratio: 7/1;
        border: solid 1px green;
        border-radius: 30px;
        background-color: azure;
        padding: 10px;
    }
    button{
        width: 100%;
        max-width: 140px;
        background-color: rgb(3, 194, 3);
        border-radius: 30px;
        aspect-ratio: 4/1;
        border: none;

    }
</style>

